.pay {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
}
.course {
  background: #fff;
  border-radius: 0.5rem;
  height: 80%;
}
.course .course-header {
  padding: 1.5rem 1rem;
  border-bottom: 0.2rem solid #eaf4fc;
  font-size: 1.4rem;
  font-weight: 700;
}
.course .course-header .quantity {
  background: #ffcfbc;
  color: #ff7241;
  padding: 0.3rem 1.5rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
}
.course .course-main {
  min-height: 42.5rem;
  background: #fff;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.course .course-main .empty {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  font-size: 1.4rem;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 0.5rem;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  top: 0;
}
.course-info:hover {
  top: -0.5rem;
  background: #ff71411e;
  border-radius: 0.5rem;
}
.course-info .info {
  border-left: 0.1rem solid rgba(0, 0, 0, 0.151);
  padding: 0 2rem;
}
.course-info img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}
.bold {
  font-weight: 600;
  margin-right: 0.5rem;
}
.pay {
  max-height: 50%;
}
.link {
  background: linear-gradient(90deg, #036bb3 3.75%, #03b0a9);
  margin-left: 3rem;
  padding: 1rem 2rem;
  border-radius: 5rem;
  color: #fff;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
}
.link:hover {
  box-shadow: 0 0 3rem -1rem rgb(0, 183, 255);
}
