.view {
  color: #fff;
  width: 3rem;
  border-radius: 50%;
}
.view:hover {
  background-color: #238ff5 !important;
}
form {
  width: 100%;
}
.timePicker label {
  display: block;
}
.timePicker input {
  margin: 0;
  margin-bottom: 2rem;
}
::ng-deep .cdk-overlay-container {
  z-index: 1200;
}
::ng-deep .timepicker-overlay {
  z-index: 1200 !important;
}
mat-label {
  background-color: #f5f5f5;
}
.edit-learningDate {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(0, 187, 140);
  transition: 0.3s;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  margin-left: 1rem;
}
.edit-learningDate:hover {
  background-color: rgb(47, 255, 175);
}
.learningDatePicker {
  display: none;
}
.no-edit:hover {
  background-color: rgb(219, 54, 54) !important;
}
/* ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
}
::ng-deep .mat-form-field-infix {
  border: none;
}
::ng-deep .mat-form-field-underline {
  display: none;
} */
