.choose-type .type {
	display: flex;
	align-items: center;
	margin-bottom: 4rem;
	border-radius: 1.5rem;
	box-shadow: 0 0 2rem -1.3rem;
	padding: 3rem 2rem;
	width: 50rem;
	cursor: pointer;
	position: relative;
	text-decoration: none;
	color: #000;
}
.choose-type .type img {
	width: 10%;
}
.choose-type .type p {
	font-weight: 700;
	margin: 0;
	margin-left: 2rem;
	font-size: 2.1rem;
	transition: 0.3s;
}
.choose-type .type i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 6rem;
	transition: 0.3s;
}
.choose-type .type:hover {
	color: #ff6d34;
}
.choose-type .type:hover i {
	right: 2rem;
}
  